@use "../src/scss/variables";
@use "../src/scss/mixins" as mixin;
@use "../src/scss/reset";

body {
  background-color: var(--clr-bg);
  color: var(--clr-whiteFaded);
}

// HomeLayout Styling

.navbar {
  width: 100%;
  height: var(--layout-height);
  @include mixin.myFlex(space-between);
  padding-inline: var(--pd-x);

  .logo {
    font-family: var(--ff-logo);
    font-size: var(--fs-5);
    font-weight: var(--fw-bold);

    color: var(--clr-green);
    text-shadow: 0 0 2.125rem var(--clr-green);
  }

  .nav-links {
    @include mixin.myFlex();
    gap: 2rem;
    font-weight: var(--fw-regular);
    font-size: var(--fs-0);
  }
  .nav-link {
    color: var(--clr-greenFaded);
  }
  .active {
    color: var(--clr-green);
    text-shadow: 0 0 0.35rem var(--clr-green);
  }
}

.footer {
  width: 100%;
  @include mixin.myFlex();
  height: var(--layout-height);

  a {
    color: var(--clr-green);
    text-shadow: 0 0 0.35rem var(--clr-greenFaded);
  }
}

.landing {
  @include mixin.myFlex(space-around);
  width: 100%;
  height: calc(100dvh - (var(--layout-height) * 2));
}

/* Orbit Code */

$orbitItemSize: 1.6em;
$map: (
  ring-0: 4,
  ring-1: 3,
  ring-2: 8,
  ring-3: 3,
);
$lastRing: 3;

.orbit {
  position: relative;
  width: 100%;
}

.orbit-icon {
  width: $orbitItemSize;
  height: $orbitItemSize;
  line-height: $orbitItemSize;
  font-size: var(--fs-0);
  color: var(--clr-green);
  text-align: center;
  display: block;
  text-indent: -50%;
}

.orbit-wrap {
  height: calc(100dvh - (var(--layout-height) * 2));
  list-style: none;
  // font-size: 1.3em;

  > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      ul {
        border-width: 2px;
        border-color: var(--clr-white);
      }
      ~ li ul {
        border-color: rgba(255, 255, 255, 0.2);
        li {
          opacity: 0.4;
        }
      }
    }
  }
}

ul[class^="ring"] {
  @extend %ring;
  transition: all 300ms ease-in-out;
  li {
    @extend %orbiting-object;
    transition: all 300ms ease-in-out;
  }
}

@mixin orbit-item($numItems, $numRing) {
  @for $s from 1 through $numItems {
    // Spread items over the ring
    $deg: calc(380deg / $numItems);

    .ring-#{$numRing} > *:nth-of-type(#{$s}) {
      transform: rotate($s * $deg)
        translate(15em - ($numRing * 2.5))
        rotate(-$s * $deg);
    }
  }
}

// Render rings
@for $i from 0 through $lastRing {
  .ring-#{$i} {
    // decrease each ring in size
    width: 30em - ($i * 5);
    height: 30em - ($i * 5);
    animation: clockwiseRotate 35s - ($i * 5) linear infinite;

    i {
      animation: counterClockwiseRotate 35s - ($i * 5) linear infinite;
    }
  }

  @include orbit-item(map-get($map, ring-#{$i}), $i);
}

%ring {
  border: solid 1px var(--clr-whiteFaded);
  position: relative;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
}

%orbiting-object {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $orbitItemSize;
  height: $orbitItemSize;
  margin: calc(($orbitItemSize * -1) / 2);
}

/*
  center;
*/
.orbit-center {
  z-index: 5;
  font-size: 2em;
  width: 5em;
  height: 5em;
  line-height: 1.8em;
  text-align: center;

  background-image: url("./assets/wineglass-with-liquor-green-smoke_23-2147905764.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;

  &:hover .orbit-center__icon {
    transform: rotateZ(0deg);
  }
}
.orbit-center__icon {
  transform: rotateZ(-360deg);
  transition: all 300ms ease-in-out;
}
.orbit-wrap > li.orbit-center:hover ~ li > ul {
  width: 0;
  height: 0;
  * {
    transform: translate(0, 0);
  }
}

@media (width <= 48rem) {
  @mixin orbit-item($numItems, $numRing) {
    @for $s from 1 through $numItems {
      // Spread items over the ring
      $deg: calc(380deg / $numItems);

      .ring-#{$numRing} > *:nth-of-type(#{$s}) {
        transform: rotate($s * $deg)
          translate(11.5em - ($numRing * 2.5))
          rotate(-$s * $deg);
      }
    }
  }

  @for $i from 0 through $lastRing {
    .ring-#{$i} {
      // decrease each ring in size
      width: 23em - ($i * 5);
      height: 23em - ($i * 5);
      animation: clockwiseRotate 35s - ($i * 5) linear infinite;
    }
    @include orbit-item(map-get($map, ring-#{$i}), $i);
  }
  .orbit-center {
    width: 2.5em;
    height: 2.5em;
  }
}

/* 
animations 
*/
@keyframes clockwiseRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterClockwiseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

// @each $icon in $icons {
//   .fa-#{nth($icon, 1)} {
//     background: nth($icon, 2);
//     color: nth($icon, 3);
//   }
// }
