:root {
  --clr-bg: #111823;

  --clr-orange: #f7b054;
  --clr-green: #77dd77;

  --clr-primary: var(--clr-orange);
  --clr-secondary: var(--clr-green);
}

/* Colors alt: #F4B4FB , #FFF390 , #a3ffae */
